body {
  background: linear-gradient(90.7deg,#fffef6 1.9%,#fdf5ff 39.3%,#e4f6ff 64.7%,#fdffe7 100.8%)
}
.container {
  padding: 16px;
}
.loading {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center; /*让div内部文字居中*/
  background-color: rgba(0,0,0,0.5);
  border-radius: 20px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header {
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: #131313 solid 1px;
  justify-content: center;
}
.Col {
  display: flex;
  flex-direction: column;
}
.Col-margin {
  display: flex;
  flex-direction: column;
  margin: 16px;
}
.center {
  align-items: center;
}
.center-vertical {
  justify-content: center;
}
.title {
}
.big-margin {
  margin: 16px;
}
.normal-input {

}

.big-padding {
  padding: 16px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* 22.21: Token Card */

.token-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  border-radius: 24px;
  margin-bottom: 24px;
  height: 200px;
  width: 200px;
  padding: 16px;
  transition: all 0.3s ease-in-out;
  position: relative;
  top:0;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-wrap: break-word;
}

.token-card:hover {
  box-shadow: 0 0 20px rgba(32, 197, 160, 0.75);
  top: -5px;
  cursor: cursor;
}

.token-card h4 {
  padding-top: 0.5em;
}

.token-icon img {
  width: 80px;
  height: 80px;
  border-radius: 40px;;
  border: white 5px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.token-card .new-addr-title, .token-card .raw-addr-title,
.token-card .new-addr, .token-card .raw-addr {
  margin: 0;
}

.token-card .new-addr-title, .token-card .raw-addr-title {
  font-size: small;
  text-transform: uppercase;
  margin-top: 1em;
}

.token-card .new-addr, .token-card .raw-addr {
  font-size: medium;
  line-height: 1em;
}
